@media (max-width: 768px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    zoom: 0.7 !important;
  }

  .scaled-wrapper {
    min-height: 100vh;
    overflow: auto;
    position: relative;
  }
   .content-wrapper {
    transform: scale(0.7);
    transform-origin: top center;
    max-width: 100%;
  }

  .top-bar {
    padding: 10px;
  }

  .top-bar h4 {
    font-size: 12px;
  }

  .logo {
    font-size: 22px;
    margin-bottom: 20px;
  }

/*-- หมายเหตุ: ส่วนนี้คือ Menu --*/
  nav ul.menu {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 6px 16px;
    padding: 10px;
  }
  nav ul.menu li a {
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  }
/*-----------------------------*/

  .zoom-controls {
    display: none;
    top: 80px;
    right: 10px;
    flex-direction: row;
    gap: 6px;
    transform: scale(0.9);
  }

  .zoom-controls button {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  #toggle-theme {
    top: 20px;
    right: 10px;
    transform: scale(0.9);
  }

  /*-- หมายเหตุ: ส่วนนี้คือ Make by --*/
    #make\ by .author-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 20px;
      padding: 10px;
  }
    #make\ by .author-image img {
      max-width: 200px;
      width: 47vw;
      border-radius: 16px !important;
      object-fit: cover;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
    #make\ by .author-text {
      max-width: 60vw;
      min-width: 180px;
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }
  /*-----------------------------*/

  .author-container2,
  .author-container3,
  .author-container4 {
    flex-direction: column;
    align-items: center;
  }

  .author-image2 img,
  .author-image3 img,
  .author-image4 img {
    width: 90%;
    max-width: 400px;
  }

  table {
    font-size: 12px;
    min-width: unset;
    width: 100%;
  }

  .tab-btn,
  .tab-btn-myalgo,
  .tab-btn-applied {
    width: 100%;
    margin-top: 35px;
  }

  .left, .center {
    padding: 10px;
    width: 95%;
  }

  .top-banner img {
    height: 160px;
  }

  .subheading {
    margin-top: 30px;
  }

/*-- หมายเหตุ: ส่วนนี้คือ ป๊อปอัพดาวโหลด --*/
  .modal {
    zoom: 1.47 !important;
    transform: none !important;
    padding: 0 0px;
  }
  .modal-content {
    max-width: 220px;
    padding: 12px 15px;  
    font-size: 12px;
  }
  .modal-content button {
    font-size: 12px;
    padding: 6px 12px;
  }
/*-----------------------------------*/
}
